terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
.terraform/plugins/darwin_amd64/lock.json
nsxt
scripts
tools
vendor
website
changelog.md
contributing.md
GNUmakefile
go.mod
go.sum
License.txt
main.go
NOTICE.txt
terraform.tfstate
terraform.tfstate.backup
